*{
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 10px;
}
body{
    background-color: rgb(197, 197, 197);
}
.row{
    background-color: rgb(91, 91, 91);
    min-height: 20rem;
}
.name{
    height: 19.8rem;
}
.nameh{
    font-size: 5rem;
    height: 8rem;
    margin-top: 6rem;
    margin-left: 10rem;
}
.links{
    font-size: 2.5vw;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: inline-block;
    margin-top: 7rem;
    margin-left: 1rem;
    text-align: center;
    width: 9vw;
}
.links:hover{
    color: white;
}
.hotelimg{
    height: 60rem;
}
.img{
    height: 60rem;
}
.imgs{
    margin-left: 1.5rem;
    background-color: rgb(62, 62, 62);
}
.malum{
    min-height: 23vw;
    margin-top: 1rem;
}
.xona{
    width: 18vw;
    margin-left: 3.5vw;
}
.ol:hover>.xona+.ol{
    color: white;
}
.ol:hover>.local+.ol{
    color: white;
}
.ol{
    font-size: 2.5vw;
    text-align: center;
    text-decoration: none;
    color: black;
}
.room{
    margin-top: 3vw;
    margin-left: 4vw;
}
.ro{
    margin-top: 2.5vw;
    font-size: 1.5vw;
}
.local{
    margin-left: 7vw;
    margin-top: 5vw;
}
.lo{
    margin-top: 2vw;
}
.menu{
    width: 8vw;
    height: 8vw;
    font-size: 6vw;
    margin-top: 0vw;
    margin-left: 10vw;
    position: absolute;
    z-index: 1;
    display: none;
}
#menyu{
    width: 0vw;
    height: 0vw;
    display: none;
    position: absolute;
    top: 0vw;
    left: 88vw;
    background-color: rgb(62, 62, 62);
}
.an{
    margin-top: 10vw;
}
.an2{
    margin-top: 2vw;
}
.an3{
    margin-top: 2vw;
}
@media only screen and (max-width: 576px){
    .name{
        width: 80vw;
        display: inline-block;
        min-height: 2vw;
    }
    .nameh{
        font-size: 5vw;
    }
    .menui{
        width: 6vw;
        height: 9vw;
        margin-left: 12vw;
    }
    .menu{
        margin-left: 0vw;
        height: 8vw;
        width: 5vw;
        font-size: 5vw;
    }
}
@media only screen and (max-width: 992px){
    html{
        font-size: 4.8px;
    }
    .link{
        display: none;
    }
    .imgs{
        margin-top: 1vw;
    }
    .xona{
        margin-left: 42vw;
    }
    .local{
        margin-left: 45vw;
    }
    .menu{
        display: block;
    }
    #menyu{
        display: none;
        width: 12vw;
        height: 100%;
    }
    .malum{
        height: 100vh;
        line-height: 5vh;
    }
    .xona{
        margin-top: 10vw;
        margin-left: 32vw;
        width: 40vw;
    }
    .local{
        width: 20vw;
        height: 20vw;
        margin-left: 40vw;
        margin-top: 20vw;
    }
    .ol{
        font-size: 3vw;
        text-align: center;
    }
}